.nav {
    display: flex;
    justify-content: center;
    background-color: $background-color;
    border-bottom: 1px solid $bottom-line-color;
    padding: 20px 0;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    .container {
        display: flex;
        justify-content: flex-end;

        .logo {
            font-size: 24px;
            font-weight: 400;
            margin-right: auto;
            transition: .2s;

            .logo-first_part {font-weight: 700;}
            &:hover {opacity: .8;}
        }
    }
}

.nav_bar {
    gap: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
    
    .nav_bar--active {
        border-bottom: 2px solid $accent-blue-color;
    }
    
    & a {transition: .2s;}
    a:hover {opacity: .8;}
}


/* Theme mode button */

.btn-theme-mode {
    width: 51px;
    height: 26px;
    margin-left: 30px;
    padding: 5px;
    order: 5;

    position: relative;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    background-color: #272727;
}

.btn-theme-mode::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 1px;

    width: 24px;
    height: 24px;

    display: block;
    border-radius: 50%;
    background-color: #fff;

    transition: left .3s ease-in;
}

.btn-theme-mode--active::before {
    left: 26px;
}

.btn-dark-mode__icon {
    position: relative;
}

.btn-light-mode__icon {
    position: relative;
}