// Font imports
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: $dm-sans;
    background-color: $white-backgraound;
}

a {
    color: $white-color;
}

.container {
    width: 1200px;
}

.dark {
    color: $white-color;
    background-color: $dark-background;

    .projects .project-item a {color: $white-color;}
    .projects .project-item {box-shadow: 0px 5px 35px rgba(0, 0, 0, 1);}
    .socweb a {color: $white-color;}
    .btn-repo {background-color: $white-backgraound; color: $text-color;}
}