//* Fonts

$dm-sans: "DM Sans", sans-serif;
$poppins: "Poppins", sans-serif;

//* Colors
$background-color: #171718;
$white-color: #fff;
$gold-color: #FFDC73;
$bottom-line-color: #26292D;
$accent-blue-color: #5C62EC;
$hover-blue-color: #3F46CA;

//* Theme colors
$dark-background: #252526;
$white-backgraound: #fff;
$text-color: #000;